@import 'abstracts/_variables';

// Buttons

.katerina-button.green {
    font-size: 16px;
    text-align: center;
    font-family: $font-primary;
    max-width: 300px;
    margin: 1rem 0;
    background-color: transparent;
    color: $green;
    border: 2px solid $green;
    padding: 16px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 700;
    transition: all 200ms ease;

    &:hover {
        cursor: pointer;
        background-color: $green;
        color: #fff;
    }

    @media only screen and (min-width: $sm) {
        padding: 16px;
    }
}

.katerina-button.white {
    border: 2px solid #fff;
    color: #fff;

    &:hover {
        background-color: #fff;
        color: $green;
    }

    @media only screen and (min-width: $sm) {
        padding: 8px 80px;
    }
}

.katerina-button.hover-white-bg:hover {
    background-color: #fff;
    color: $green;
}