<div class="page-header">
    <div class="bg"></div>
  </div>
  
  <div class="body-container">
    <div class="row start-xs middle-xs">
      <div class="col-xs-12">
        <p class="contact-headline">
          Katerina Satori is an internationally acclaimed spiritual teacher from Laguna Beach, CA. Serving luminaries and SOULpreneurs, Katerina shares innovative tools, practices and paradigm upgrades for awakening the heart’s innate wisdom. Delivered through transformational retreats, courses and mentorship programs, Katerina’s core teaching centers on the Frequency Shift™ model – her signature process for cultivating energetic sovereignty and optimizing lifestyle outcomes.</p>
          <p class="contact-headline">
              Invite Katerina to speak at your next event and up-level your team’s morale, synergistic vision and effectiveness. Fill our the form below. <span>Read Full Bio</span>
          </p>
        
      </div>
    </div>
  
    <div class="row center-xs middle-xs">
      <div class="col-xs-12">
        <form>
          <input #firstName type="text" name="firstName" placeholder="First Name">
          <input #email type="text" name="email" placeholder="Email Address">
          <textarea #message rows="10" type="text" name="message" placeholder="Message..."></textarea>
          <!-- <button class="cp-button" type="button" (click)="submit(firstName.value, email.value, message.value)">Submit</button> -->

          <a href="#" class="katerina-button green" style="width: 230px;">Submit</a>
        </form>
      </div>
    </div>
  </div> 