<div class="page-container">
  <div class="page-header" id="one">
    <div class="bg"></div>
    <div class="twentyonedaysicon">
      <div class="bg"></div>
    </div>
  </div>

  <div class="body">
    <div class="content-sheath">
      <h1 class="center">A Sovereignty Mentor, Soul Alchemist, Lifestyle
          Architect, and Thought Leader for luminaries 
          and SOULpreneurs.</h1>

      <p class="center">I’ve dedicated my life to the service of humanity – supporting my students and clients in activating their highest potential and creating a rich legacy.</p>

      <h1 class="center">My Philosophy</h1>

      <p><span>1. DHARMA</span> Every single person has a unique
          soul purpose, like a blueprint, called their ‘Dharma’.</p>

      <p><span>2. THE HEART</span> An alchemical organ, revealing our Dharma and inviting us to embrace it.</p>

      <p><span>3. ALCHEMY</span> The practice of honoring the heart’s wisdom – which transforms obstacles into creation.</p>

      <p><span>4. MASTERY</span> Stabilizing the higher frequencies, developing energetic prowess and repatterning the soul’s creative alignment.</p>

      <p><span>5. SOVEREIGNTY</span> Fully living your Dharma becomes as natural as breathing. You’re the incontrovertible SOURCE of your own hologram.</p>
    </div>
  </div>
  
  <div class="page-header" id="two">
    <div class="bg"></div>
  </div>

  <div class="body">

    <img src="/assets/katerinastamp2.png" alt="">
    <div class="content-sheath">
      <h1 class="center" style="font-size: 48px;">So, here’s my story...</h1>

      <p>In my early 20s, I landed in the States with $3 to my name.</p>

      <p>I’d traveled from Far East Russia where my family lacked modern luxuries like hot water.</p>
      
      <p>In my earliest years, life at home was unstable. So I found solace in a magical inner world, where anything is possible...</p>

      <p>I’d hang out in the library reading Tolstoy, or in nature communing with the water brooks – connecting with Spirit through prayer, contemplating the shimmering water and the frequency of the sound it made.</p>

      <p>The rustling leaves whispered of a divine soul purpose, and I felt inspired to uncover it. I wondered, “What’s it like beyond the borders of my little world?”</p>

      <p>Fast forward a couple decades. I’m stepping off the airplane with a pocketful of crackers because I don’t know where my next meal is coming from.</p>
      
      <p>My first job in the States was scrubbing floors. I had high hopes for something better, but that’s all that was available to start. Within a year, I found a sales position at a jewelry store – where I tasted financial abundance for the first time.</p>

      <p>After a while, though, I felt stagnant and needed a lifestyle change. So I started spending time in the gym. Next thing I know, I’m preparing for a fitness modeling competition.</p>

      <p>Over the next several years, relentless fitness took a toll on my body. Eventually I suffered adrenal blowout, so I was bedridden for days at a time. On top of that, I got a medical report that showed rapidly-multiplying precancerous cells in my body.</p>

      <p>Over the next several months, I drank green juices, and ate raw, organic superfoods, salads, quinoa, nuts, you name it. And within a couple years, I hadn’t only made a complete recovery – I was overflowing with energy and vitality.</p>

      <p>I still had trials and initiations ahead, but overcoming such a major health crisis gave me confidence. Like a phoenix rising from the ashes, I was bigger than my circumstances.</p>

      <p>All that inspiration ultimately led to my first business. I wanted to leverage what I’d learned about health and vitality to make a difference in other people’s lives, too.</p>

      <p>Since I didn’t know how to get a business off the ground, I became like a sponge – reading countless books, attending conferences, meeting like-minded people, and expanding my sense of what’s possible.</p>

      <p>Then one day at a conference, everything clicked. I’d already been to so many conferences, and I’d heard similar messages many times before; but in this pivotal moment, I had a different quality of listening…</p>

      <h1 class="center" style="font-size: 72px; max-width: 800px; margin: 0 auto;">“Do you wait, or do you create?”</h1>

      <p>All of a sudden, something shifted at the core. The question resonated so powerfully 
          that it opened up a vision of my highest purpose – the only thing that could bring true fulfillment.</p>

      <p>I realized I was on planet Earth to help liberate souls. And I felt the urgency to surrender to this assignment. It was time to let my heart lead the way… It was time to CREATE!</p>
    </div>
  </div>

  <div class="page-header" id="three">
      <div class="bg"></div>
    </div>
  
    <div class="body">
  
      <img src="/assets/katerinastamp2.png" alt="">
      <div class="content-sheath">
        <h1 class="center" style="font-size: 48px;">Since that day, I have...</h1>
  
        <p>...Launched numerous online trainings.</p>
  
        <p>...Guided clients through total life transformations (like C. who netted $160,000, lost 30 pounds, and had a spiritual awakening).</p>
        
        <p>...Reached 1,000,000+ people through online video.</p>
  
        <p>...Created the Return to Wisdom Journey (a sabbatical experience for leaders to reconnect with the soul).</p>
  
        <p>..Attracted a strong and loyal community.</p>
  
        <p>...Mastered the art of non-pushy enrollment/sales (and trained countless students).</p>
        
        <p>...Begun writing my second book.</p>
  
        <p>...Generated a steady flow of dream clients (with a 6 month waiting list for 1-on-1 mentorship).</p>
  
        <p>...Multiplied my income by 10.</p>
  
        <p>...Provided ongoing funding to feed families in the slums of Dhaka, Bangladesh.</p>
  
        <p>...Supported entrepreneurs in spiritual and business growth through
            immersive VIP days.</p>
  
        <p>...Moved into my dream home with an ocean view in Laguna Beach.</p>

  
        <h1 class="center" style="max-width: 800px; margin: 0 auto;">Which brings us to the here and now…
          <br><br>

            Before we go any further,
            there’s something I must confess…</h1>
  
        <p>I’m every bit as human as the next person! I have off days, and yes – my fears and insecurities still show up once in a while.</p>
  
        <p>Sometimes I feel disconnected. Sometimes I catch myself getting annoyed or frustrated. And it’s rarer these days, but there are times when I just want to hide from the world.</p>

        <p>Thankfully, in moments of turbulence and chaos, I’ve learned how to harness my inner power.</p>
      </div>
    </div>

    <div class="page-header" id="four">
        <div class="bg"></div>
      </div>
    
      <div class="body">
    
        <img src="/assets/katerinastamp2.png" alt="">
        <div class="content-sheath">
          <h1 class="center" style="font-size: 48px;">Here’s the Truth that set me free...</h1>
    
          <p>You create your experience. And there’s ALWAYS a choice – which means you can literally shift your energetic frequency.</p>
    
          <p>Since the frequency we choose determines our reality, you have the power to upgrade your life at any point… No matter what’s happening on the outside, you can create a new experience…</p>
          
          <p>And that’s why I’m so passionate about supporting others in unleashing their best life. With the right energy, it’s a wonderful adventure.</p>
    
          <p>Your friend,</p>
    
          <p><span>Katerina Satori</span><br>Sovereignty Mentor</p>
    
          <p>P.S. Are you ready to shift frequencies? Click the link below to learn more about the Frequency Shift™ course, a recommended first step for working together.</p>
          
          <p>Or if you feel called to work with me 1-on- 1</p>
    
          <div class="row center-xs">
            <a href="#" class="katerina-button green" style="margin: 1rem 3rem; max-width: 100%;">Frequency Shift</a>
            <a href="#" class="katerina-button green" style="margin: 1rem 3rem; max-width: 100%;">1-on-1 Mentorship</a>
          </div>
        </div>
      </div>


</div>