// Colors

$white: #fff;

$lightgrey: #99958e;
$grey: #777268;

$green: #00605b;
$lightgreen: #9dd5bb;

$lightgold: #d3b19f;

// Fonts

// $font-primary: 'Noto Serif', 'Times New Roman';
// $font-secondary: 'Noto Sans', 'sans-serif';

$font-primary: 'Playfair Display', 'Times New Roman';
$font-secondary: 'Open Sans', 'sans-serif';

// Viewports

$sm: 48em;
$med: 64em;
$lg: 75em;
$xl: 88em;

// Containers

$sm-container: 49rem;
$med-container: 65rem;
$lg-container: 76rem;
$xl-container: 89rem;

// Gutters

$gutter: 0.5rem;
$margin: auto;
$margin1: -$gutter;

$sm-gutter-right: $gutter;
$sm-gutter-left: $gutter;
$med-gutter-right: $gutter;
$med-gutter-left: $gutter;
$lg-gutter-right: $gutter;
$lg-gutter-left: $gutter;