// Colors

$white: #fff;

$lightgrey: #99958e;
$grey: #777268;

$orange: #f26222;

$green: #4aa98f;

// Fonts

$font-primary: 'Playfair Display SC', 'Times New Roman';
$font-secondary: 'Playfair Display', 'Times New Roman';
$font-tertiary: 'Avenir', 'sans-serif';

// Viewports

$sm: 48em;
$med: 64em;
$lg: 75em;
$xl: 88em;

// Containers

$sm-container: 49rem;
$med-container: 65rem;
$lg-container: 76rem;
$xl-container: 89rem;

// Gutters

$gutter: 0.5rem;
$margin: auto;
$margin1: -$gutter;

$sm-gutter-right: $gutter;
$sm-gutter-left: $gutter;
$med-gutter-right: $gutter;
$med-gutter-left: $gutter;
$lg-gutter-right: $gutter;
$lg-gutter-left: $gutter;