@import 'abstracts/_variables';

::ng-deep app-footer {
    background-color: #fff;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 42px 24px;

    p {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: 'Times New Roman';
        color: $lightgrey;   
        text-transform: uppercase;
        text-align: center;

        @media only screen and (min-width: $sm) {
            font-size: 20px;
        }
    }
}