<div class="page-container">

    <div class="twentyonedaysicon">
        <div class="bg"></div>
      </div>

  <section id="one">
    <div class="row fill">
      <div class="col-xs-12 col-sm-6 true left-col">
        <div class="bg"></div>
      </div>
      <div class="col-xs-12 col-sm-6 true right-col">
        <div class="bg"></div>
      </div>
    </div>

    
  </section>

  <section id="two">
    <div class="bg">
      <div class="row fill">
        <div class="col-xs-12 col-sm-5 true right-col">
        </div>
        <div class="col-xs-12 col-sm-7 true right-col">
          <div class="content">
            <h1>People sometimes ask <br>how I made it here</h1>
            <p>I have the privilege of facilitating such profound transformations in the lives of my students, clients and followers – so people are curious about the backstory.</p>
            <p>Well, let’s just say it wasn’t all roses and butterflies.</p>
            <p>In my early 20s, I landed in the States with $3 to my name. I’d traveled from Far East Russia where my family lacked modern luxuries like hot water. <a href="#">Read Full Story.</a></p>
          </div>
        </div>
      </div>
    </div>
    
  </section>

  <section id="three">
    <div class="row fill">
      <div class="col-xs-12 col-md-6 true left-col">
        <div class="bg">
          <div class="content col">
            <h1>Soul Catalyst</h1>
            <p>Katerina guides students through the journey of awakening their unique soul purpose. From immersive VIP days to luxury retreats, online courses and 1-on-1 coaching, discover a treasure trove of leading-edge tools, practices and paradigm upgrades to catalyze your next level.</p>
            <a href="#" class="katerina-button green">Learn More</a>
          </div>
          <img src="/assets/katerinastamp.png" alt="">
        </div>
      </div>
      <div class="col-xs-12 col-md-6 true right-col">
        <div class="bg"></div>
      </div>
    </div>
  </section>

  <section id="four">
    <div class="row fill">
      <div class="col-xs-12 col-md-6 true left-col first-xs last-sm">
        <div class="bg">
          <div class="content col">
            <h1>21 Days of Presence</h1>
            <p>Sign up for a 21-day journey of daily guided meditations. Fascilitated by Katerina Satori, each meditation evokes a unique energy or principle to set the tone for a powerful day. Around 5 minutes in length these activational gems will (1) Calm your mind, (2) Elevate your Spirit, (3) Refresh your heart, and (4) Inspire a day of Presence, Purpose, and Abundance.</p>
            <a href="#" class="katerina-button green">Learn More</a>
          </div>
          <img src="/assets/katerinastamp.png" alt="">
        </div>
      </div>
      <div class="col-xs-12 col-md-6 true right-col">
        <div class="bg"></div>
      </div>
    </div>
  </section>

  <section id="five">
    <div class="row fill">
      <div class="col-xs-12 true">
        <div class="bg">
          <div class="content">
            <div class="testimonials">
                <owl-carousel [options]="carouselOptions" [carouselClasses]="['owl-theme']">
                    <div class="item">
                      <p class="testimonial-body">“If you are considering attending one of Katerina Satori’s events or merely requesting her services, stop considering it now. You need to take action and make it happen. Release all expectations you have because you are selling yourself short. She will far exceed ANYTHING you have imagined.”
                      </p>
                      <p class="testimonial-footer">- Michael Doyle</p>
                    </div>
                    <div class="item">
                      <p class="testimonial-body">“If you are considering attending one of Katerina Satori’s events or merely requesting her services, stop considering it now. You need to take action and make it happen. Release all expectations you have because you are selling yourself short. She will far exceed ANYTHING you have imagined.”
                      </p>
                      <p class="testimonial-footer">- Michael Doyle</p>
                    </div>
                    <div class="item">
                      <p class="testimonial-body">“If you are considering attending one of Katerina Satori’s events or merely requesting her services, stop considering it now. You need to take action and make it happen. Release all expectations you have because you are selling yourself short. She will far exceed ANYTHING you have imagined.”
                      </p>
                      <p class="testimonial-footer">- Michael Doyle</p>
                    </div>
                  </owl-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

